<app-rgpd-template>
  <h2>{{ "legal-information.tabs.legal-information" | translate }}</h2>
  <app-legal-date />
  <app-download-button />
  <section class="block-context">
    <p class="text-content">
      ZABIBU ETS est une entreprise dont le siège social est situé au 40 AV.
      LULUWA, C/BANDALUNGWA, KINSHASA. Le propriétaire et directeur de
      publication du site est MR. CHRISTIAN LISANGOLA.
    </p>
    <p class="text-content">
      Le numéro d'identification fiscale de ZABIBU ETS est
      <span class="cover-link">A2162143W</span>.
    </p>
    <p class="text-content">
      Le Site est hébergé par Netlify, dont le siège social est situé 2325 3rd
      Street, Suite 296, San Francisco, California 94107.
    </p>
    <p class="text-content">
      L’hébergeur est joignable à l’adresse email support@netlify.com
    </p>
  </section>
  <section class="block-context">
    <h4 class="sub-title">Nous contacter</h4>
    <p class="text-content">
      Vous pouvez contacter ZABIBU ETS par email à l'adresse suivante
    </p>
  </section>
  <section class="block-context">
    <p class="text-content">
      Vous bénéficiez d’un droit d’accès et de rectification aux informations
      qui vous concernent, que vous pouvez exercer par email à l’adresse
      <a href="mailto:christian@zabibu.co" class="cover-link"
        >christian@zabibu.co</a
      >
      ou par courrier à l'adresse suivante : 40 AV. LULUWA, C/BANDALUNGWA,
      KINSHASA. . Vous pouvez également, pour des motifs légitimes, vous opposer
      au traitement des données vous concernant.
    </p>
    <p class="text-content">
      Pour plus d’informations sur tous vos droits vous pouvez vous référer à
      notre
      <a routerLink="/terms/rgpd" class="cover-link"
        >Politique de Protection des Données Personnelles.</a
      >
    </p>
  </section>

  <app-download-button typeElement="button" />
</app-rgpd-template>
