@import "./functions";

:root {
    // COLORS
    --primary-color         : #E0457A;
    --primary-color-gradient: linear-gradient(270deg, #9F1D6E 0%, #D5317E 65.26%);
    --color-gray            : #A4A4A4;
    --color-little-white    : #F9F9F9;
    --color-dark-2          : #242331;
    --color-little-gray     : #C4C4C4;
    --dark-color            : #0C0E27;

    // TYPOGRAPHY

    // TITLES
    --text-bigger: rem(75);
    --title-1    : rem(50);
    --title-2    : rem(40);
    --title-3    : rem(30);
    --tile-4     : rem(22);
    --title-5    : rem(20);
    --title-6    : rem(18);

    // paragraphe
    --large-parag  : 18px;
    --medium-parag : 16px;
    --default-parag: 14px;
}