<main>
    <article>
        <app-banner></app-banner>
        <app-two-column [imageRigth]="true" pseudoClass="right" [imageUrl]="screenImages"
            title="Having everything you need in one app"
            textDescription="There are many variations of passages of Lorem Ipscted humour, or randomised words which don't look slightly believable. If you are going to use a passage ."
            linkText="Learn More"></app-two-column>
        <app-block-video></app-block-video>
    </article>
</main>