.blob {
    background   : rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    box-shadow   : 0 0 0 0 rgba(0, 0, 0, 0.7);
    transform    : scale(1);
    animation    : pulse 1.5s infinite;
    width        : rem(80);
    height       : rem(80);
    aspect-ratio : 1/1;
    @extend %flexMiddle;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeWidth {
    0% {
        opacity: 0;
        height : 0;
    }

    100% {
        opacity: 1;
        height : 100%;
    }
}

@keyframes fadeUp {
    0% {
        opacity  : 0;
        transform: scale(0.95) translateY(-30px);
    }

    100% {
        opacity  : 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeDown {
    0% {
        opacity  : 0;
        transform: scale(0.95) translateY(50px);
    }

    100% {
        opacity  : 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeLeft {
    0% {
        opacity  : 0;
        transform: translateX(-30px);
    }

    100% {
        opacity  : 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity  : 0;
        transform: translateX(30px);
    }

    100% {
        opacity  : 1;
        transform: translateX(0);
    }
}

@keyframes toggleNav {
    from {

        opacity: 0;
        top    : 100%;
    }

    to {

        top    : 0;
        opacity: 1;
    }
}

@keyframes fadeLeft {
    from {

        opacity: 0;
        left   : rem(-100);
    }

    to {

        opacity: 1;
        left   : 0;
    }
}

@keyframes toggleHide {
    0% {
        opacity: 1;
        height : 100%;
        display: block;
    }

    100% {
        opacity: 0;
        height : 0;
        display: none;
    }
}


@keyframes pulse {
    0% {
        transform : scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform : scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform : scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes Gradient {
    0% {
        background: transparent;

    }

    100% {
        background-image: var(--primary-color-gradient);
        color           : var(--color-white);
    }

}

.fadeUp {
    @extend %fadeUp;
}

.fadeRight {
    @extend %fadeRight;
}

.fadeLeft {
    @extend %fadeLeft;
}