@import "./functions";

:root {
    // COLORS
    --primary-color         : #E0457A;
    --primary-color-gradient: linear-gradient(270deg, #9F1D6E 0%, #D5317E 65.26%);
    --color-gray            : #A4A4A4;
    --color-little-white    : #F9F9F9;
    --color-dark-2          : #242331;
    --color-little-gray     : #C4C4C4;
    --dark-color            : #0C0E27;
    --color-white           : #fff;
    --color-bg-nav          : #8F1F6C;

    // TRANSITION & ANIMATION
    --transition-1: 0.35s;
}

// TYPOGRAPHY


// TITLES
$text-bigger : rem(75);
$title-1     : rem(50);
$title-2     : rem(40);
$title-3     : rem(30);
$tile-4      : rem(22);
$title-5     : rem(20);
$title-6     : rem(18);

// paragraphe
$large-parag : rem(18);
$medium-parag: rem(16);
$default-size: 14px;

// UTILITIES
$border-input: 0.5px solid rgba(0, 0, 0, 0.05);

// SPACES
$min-space          : rem(20);
$basic-space        : rem(25);
$section-basic-space: rem(85);
$section-space      : rem(140);

// MEDIA QUERIES
$xxs  : 280px;
$xs   : 320px;
$x-sm : 480px;
$sm   : 576px;
$md   : 768px;
$lg   : 992px;
$xl   : 1281px;
$xxl  : 1400px;

// SCREEN MEDIA
$xxs-screen  : "only screen and (min-width:#{$xxs})";
$xs-screen   : "only screen and (min-width:#{$xs})";
$x-sm-screen : "only screen and (min-width:#{$x-sm})";
$sm-screen   : "only screen and (min-width:#{$sm})";
$md-screen   : "only screen and (min-width:#{$md})";
$lg-screen   : "only screen and (min-width:#{$lg})";
$xl-screen   : "only screen and (min-width:#{$xl})";
$xxl-screen  : "only screen and (min-width:#{$xxl})";