<main>
    <article class="body container mt-10">
        <section class="contact">
            <h1 class="title-1 mb-10">Get in touch today!</h1>
            <form class="contact-form">
                <div class="mb-3 fullname">
                    <label for="fullname">Full name *</label>
                    <input type="text" id="fullname" placeholder="John David">
                </div>

                <div class="mb-3 email">
                    <label for="email">Your email *</label>
                    <input type="email" id="email" placeholder="example@yourmail.com">
                </div>


                <div class="mb-3 company">
                    <label for="company">Company *</label>
                    <input type="text" id="company" placeholder="yourcompany name here">
                </div>

                <div class="mb-3 subject">
                    <label for="subject" >Subject *</label>
                    <input type="text" id="subject" placeholder="How can we Help">
                </div>
                <div class="mb-3 message">
                    <label for="message">Message *</label>
                    <textarea name="" id="message" cols="30" rows="10" placeholder="Hello there,I would like to talk about how to..."></textarea>
                </div>
                <button class="btn red-gradient btn-contact">Send Message</button>
            </form>
        </section>
    </article>
</main>
<app-footer/>