<app-rgpd-template>
  <article class="fade">
    <h2>{{ "legal-information.tabs.cookie-policy" | translate }}</h2>
    <app-legal-date />
    <app-download-button />
    <section class="block-context">
      <p class="text-content">
        La présente Politique de cookies est destinée à l’information des
        utilisateurs du site web de Zabibu (https://zabibucrm.com) (“le Site”)
        sur la nature, l’utilisation des cookies ainsi que sur les outils
        permettant de les paramétrer. Pour vérifier les mises à jour de cette
        Politique, nous vous invitons à consulter régulièrement cette page.
      </p>
      <p class="text-content">
        Lors de la consultation du Site, le dépôt des cookies sur l’appareil que
        vous utilisez (le “terminal”) est soumis à votre consentement dès lors
        que les cookies ne sont pas strictement nécessaires au fonctionnement du
        Site.
      </p>
    </section>
    <h3>I. Qu’est-ce qu’un cookie ?</h3>
    <section class="block-context">
      <p class="text-content">
        Un cookie est un fichier de petite taille et identifié par un nom, qui
        peut être déposé par le site web auquel vous vous connectez. Votre
        navigateur web le conserve pendant une certaine durée (article V. “Durée
        de conservation des cookies”) et le renvoie au serveur web chaque fois
        que vous vous reconnectez.
      </p>

      <p class="text-content">
        Les cookies servent à faire fonctionner le Site, à faciliter votre
        navigation, ainsi qu’à vous proposer des offres et services pertinents.
      </p>
      <p class="text-content">
        Lors de votre visite sur notre Site, certains cookies essentiels à son
        fonctionnement sont déposés automatiquement sur votre terminal. D’autres
        cookies sont soumis à votre consentement exprès (<span
          class="cover-link"
          >article IV.</span
        >
        Consentement au dépôt des cookies).
      </p>
    </section>

    <h3>II. Informations collectées par les cookies</h3>
    <section class="block-context">
      <p class="text-content">
        Les cookies du Site peuvent collecter des données qui se rapportent à un
        terminal ou à un comportement à un instant donné, notamment :
      </p>
      <ul class="legal__list-description">
        <li>L’adresse IP du terminal connecté</li>
        <li>
          La date, l’heure et la durée de visite sur une page ou l’ensemble du
          site
        </li>
        <li>Le nombre de pages vues</li>
        <li>Le chemin de navigation</li>
        <li>Le type de système d’exploitation</li>
        <li>Le type et la version du logiciel de navigation utilisés</li>
        <li>La marque et le modèle du terminal mobile ou tablette</li>
        <li>La langue d’utilisation</li>
      </ul>
    </section>
    <h3>III. Types et finalités des cookies</h3>
    <h4 class="sub-title title">A. Types de cookies</h4>
    <section class="block-context">
      <h5 class="sub-title">1. Cookies internes</h5>
      <p class="text-content">
        Les cookies internes sont générés et stockés localement par Zabibu :
        aucun tiers n’a accès aux données. Ils sont à différencier des cookies
        dits “tiers”, qui sont générés par nos fournisseurs ou par les réseaux
        sociaux.
      </p>
    </section>
    <section class="block-context">
      <h5 class="sub-title">2. Cookies tiers</h5>
      <p class="text-content">
        Un cookie tiers est un cookie placé sur votre terminal par le serveur
        d’un domaine distinct de celui du Site. Les cookies tiers sont
        généralement ceux utilisés par les services de web analyse, différents
        outils marketing, les réseaux sociaux, ou différentes plateformes
        publicitaires (retargeting).
      </p>
    </section>
    <h4 class="sub-title title">B. Finalités des cookies</h4>
    <section class="block-context">
      <h5 class="sub-title">
        Cookies nécessaires au fonctionnement du site web de Zabibu
      </h5>
      <p class="text-content">
        Ces cookies sont essentiels pour garantir le fonctionnement et
        l’optimisation du Site. Ils vous permettent d’utiliser les principales
        fonctionnalités du Site et de sécuriser votre connexion.
      </p>
      <p class="text-content">
        Le Site utilise
        <span class="cover-link">gtm_auth / gtm_debug / gtm_preview</span> :
        pour vous permettre d’accepter/refuser les cookies
      </p>
      <p class="text-content">
        Ces cookies étant indispensables au fonctionnement, à la navigation sur
        le Site ou à l’utilisation d’un service à votre demande, ils ne peuvent
        pas être refusés via le bandeau cookies du site web de Zabibu.
      </p>
      <p class="text-content">
        Vous pouvez également vous y opposer et les supprimer en utilisant les
        paramètres de votre navigateur (<span class="cover-link"
          >article VI.</span
        >
        Gestion des cookies), cependant votre expérience utilisateur risque
        d’être dégradée.
      </p>
    </section>

    <section class="text-content">
      <h4 class="sub-title">
        Cookies de suivi des visites en provenance de la plateforme et de mesure
        de l’efficacité des campagnes publicitaires
      </h4>
      <p class="text-content">
        Ces cookies permettent de mesurer les performances de nos actions
        marketing, afin de vous proposer un contenu toujours plus pertinent et
        adapté à vos attentes.
      </p>
      <p class="text-content">Le Site utilise :</p>
      <ol class="legal__list-description order">
        <li>Facebook</li>
        <li>Google Ads</li>
        <li>LinkedIn</li>
        <li>Microsoft Ads</li>
        <li>Bing Ads</li>
      </ol>
    </section>
    <section class="block-context">
      <p class="text-content">
        Vous pouvez les refuser à tout moment via notre bandeau cookies (article
        VI. Gestion des cookies). Si vous les acceptez, les informations
        enregistrées grâce aux cookies seront conservées pendant 13 mois au
        maximum.
      </p>
    </section>
    <section class="block-context">
      <h4 class="sub-title">
        Cookies de mesure d’audience et d’interactions sur notre site
      </h4>
      <p class="text-content">
        Ces cookies permettent de suivre les audiences du Site afin de générer
        des données statistiques sur l’utilisation qui en est faite. Ils nous
        permettent d’améliorer la performance du Site et de vous proposer un
        contenu adapté.
      </p>
      <p class="text-content">Le Site utilise :</p>
      <ul class="legal__list-description order">
        <li>Google Analytics</li>
        <li>Google Optimize</li>
        <li>Clearbit</li>
      </ul>
      <p class="text-content">
        Vous pouvez les refuser à tout moment via notre bandeau cookies (<span
          class="cover-link"
          >article VI</span
        >. Gestion des cookies).
      </p>
      <p class="text-content">
        Si vous les acceptez, les informations enregistrées grâce aux cookies
        seront conservées pendant 13 mois au maximum.
      </p>
    </section>
    <h3>IV. Consentement au dépôt des cookies</h3>
    <section class="block-context">
      <p>
        La première fois que vous vous rendez sur le Site, vous voyez s’afficher
        un bandeau dédié aux cookies qui vous propose :
      </p>
      <ul class="legal__list-description">
        <li>D’accepter ou de refuser tous les cookies</li>
        <li>De réaliser un choix personnalisé, cookie par cookie</li>
      </ul>
      <p class="text-content">
        À tout moment, vous pouvez revenir sur vos choix et les paramétrer à
        nouveau en accédant à l’interface de gestion des cookies, située en bas
        de notre Site dans l’onglet “Gérer mes consentements”.
      </p>
      <p class="text-content">
        Le cookie technique stockant votre choix est déposé sur votre terminal
        pour une durée de 6 mois : à terme, nous vous demanderons à nouveau
        d’accepter, de paramétrer ou de refuser les cookies.
      </p>
    </section>
    <h3>V. Durée de conservation des cookies</h3>
    <section class="block-context">
      <p class="text-content">
        Les cookies de session disparaissent dès que vous quittez le Site alors
        que les cookies dits permanents demeurent sur votre terminal jusqu’à
        expiration de leur durée de vie (maximum 13 mois) ou jusqu’à ce que vous
        les supprimiez à l’aide des fonctionnalités de votre navigateur (article
        VI. Gestion des cookies).
      </p>
    </section>
    <h3>VI. Gestion des cookies</h3>
    <section class="block-context">
      <h4 class="sub-title">
        1. Plateforme de gestion des consentements de Zabibu
      </h4>
      <p class="text-content">
        L’interface est accessible directement lors de votre première visite.
        Elle vous permet de paramétrer les cookies déposés sur votre terminal.
        Vous pouvez à tout moment revenir sur vos choix et les paramétrer à
        nouveau en accédant à l’interface de gestion des cookies, en bas de
        notre Site, dans l’onglet “Gérer mes consentements”.
      </p>

      <p class="text-content">
        Cette interface vous permet de configurer les cookies et de recueillir
        votre consentement dans le respect des recommandations de la
        <a
          href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur"
          class="cover-link"
          >CNIL</a
        >.
      </p>
    </section>
    <section class="block-context">
      <h4 class="sub-title">2. Configuration de votre navigateur web</h4>
      <p class="text-content">
        Vous pouvez configurer votre navigateur web à tout moment et
        gratuitement si vous souhaitez que des cookies soient enregistrés dans
        votre terminal ou qu’ils soient rejetés, soit systématiquement, soit en
        fonction de leur émetteur. Cependant, l’interdiction totale des cookies
        peut entraîner des problèmes de navigation sur les sites Internet.
      </p>
      <p class="text-content">
        Pour la gestion des cookies, la configuration de chaque navigateur est
        différente. Elle est décrite dans le menu d’aide de votre navigateur,
        qui vous permettra de savoir de quelle manière modifier vos souhaits en
        matière de cookies.
      </p>
      <p class="text-content">
        À titre d’exemple, voici les liens des procédures pour configurer vos
        choix à partir des options de votre navigateur :
      </p>
      <ul class="legal__list-description">
        <li>
          <a
            href="https://support.google.com/chrome/answer/95647?hl=fr"
            class="cover-link"
            >Chrome</a
          >
        </li>
        <li>
          <a
            href="https://support.microsoft.com/fr-fr/windows/supprimer-et-g%C3%A9rer-les-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-9"
            class="cover-link"
            >Explorer</a
          >
        </li>
        <li>
          <a
            class="cover-link"
            href="https://support.mozilla.org/fr/kb/protection-renforcee-contre-pistage-firefox-ordinateur?redirectslug=activer-desactiver-cookies&redirectlocale=fr"
            >Firefox
          </a>
        </li>
        <li>
          <a
            class="cover-link"
            href="https://support.microsoft.com/fr-fr/windows/microsoft-edge-donn%C3%A9es-de-navigation-et-confidentialit%C3%A9-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd"
            >Microsoft Edge</a
          >
        </li>
        <li>
          <a
            class="cover-link"
            href="https://help.opera.com/en/latest/web-preferences/#cookies"
            >Opera</a
          >
        </li>
      </ul>
      <p class="text-content italic">
        Pour plus d’information sur la configuration des cookies, vous pouvez
        vous rendre sur
        <a
          href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur"
          class="cover-link"
          >le site Internet de la CNIL.
        </a>
      </p>
    </section>
    <h3>VII. Garanties de nos partenaires</h3>
    <section class="block-context">
      <p class="text-content">
        Le Site s’appuie sur certains services proposés par des sites tiers. Ces
        fonctionnalités utilisent des cookies tiers directement déposés par ces
        services. Lors de votre première visite sur le Site, le bandeau cookies
        vous informe de la présence de ces cookies et vous invite à indiquer
        votre choix. Ils ne seront déposés que si vous les acceptez.
      </p>
      <p class="text-content">
        À titre d’information, voici les liens des politiques de confidentialité
        de nos partenaires :
      </p>
      <ol class="legal__list-description order">
        <li>
          <a href="https://privacy.microsoft.com/fr-fr/privacystatement"
            >Bing
          </a>
        </li>
        <li><a href="https://clearbit.com/privacy-policy">Clearbit </a></li>
        <li>
          <a
            href="https://support.google.com/analytics/answer/6004245?hl=fr&ref_topic=2919631"
            >Google Analytics
          </a>
        </li>
        <li>
          <a
            href="https://business.safety.google/intl/fr_fr/compliance/#!?modal_active=none"
            >Google Ads
          </a>
        </li>
        <li>
          <a href="https://policies.google.com/privacy?hl=en"
            >Google Optimize
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/legal/privacy-policy?_l=fr_FR"
            >LinkedIn
          </a>
        </li>
        <li>
          <a href="https://privacy.microsoft.com/fr-fr/privacystatement"
            >Microsoft Ads
          </a>
        </li>
      </ol>
    </section>
    <h3>VIII. Informations complémentaires</h3>
    <section class="block-context">
      <p class="text-content">
        Vous pouvez consulter à tout moment notre
        <a routerLink="/terms/privacy-policy" class="cover-link"
          >Politique de confidentialité
        </a>
        si vous souhaitez en savoir plus sur la manière dont nous gérons vos
        Données Personnelles.
      </p>
      <p class="text-content">
        Pour tous autres renseignements, vous pouvez nous contacter par courriel
        à l’adresse email
        <a href="mailto:contact@zabibu.co" class="cover-link"
          >contact@zabibu.co</a
        >.
      </p>
    </section>
    <app-download-button typeElement="button" />
  </article>
</app-rgpd-template>
