<app-rgpd-template>
  <article class="fade">
    <h2>{{ "legal-information.terms.title" | translate }}</h2>
    <section class="block-context">
      <p class="text-content">
        Conformément aux dispositions des
        <span class="cover-link">Articles 6-III et 19 </span> de la Loi
        <span class="cover-link">n°2004-575</span> du 21 juin 2004 pour la
        Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la
        connaissance des utilisateurs et visiteurs, ci-après "Utilisateur", du
        site
        <a href="https://www.zabibu.co/" class="cover-link"
          >https://www.zabibu.co</a
        >
        , ci-après le "Site", les présentes mentions légales.
      </p>
      <p class="text-content">
        La connexion et la navigation sur le Site par l’Utilisateur implique
        acceptation intégrale et sans réserve des présentes mentions légales.
      </p>
      <p class="text-content">
        Ces dernières sont accessibles sur le Site à la rubrique
        <a routerLink="/terms/legal-information" class="cover-link"
          >« Mentions légales ».</a
        >
      </p>
    </section>
    <section class="block-context">
      <h3 class="sub-title title">1. Un champ d’application étendu</h3>
      <p class="text-content">
        Depuis le 25 mai 2018, toute société, dès lors qu’elle offre des biens
        ou des services aux personnes concernées par le traitement sur
        l’ensemble du territoire de l’Union Européenne, doit appliquer le RGPD.
      </p>
    </section>
    <section class="block-context">
      <h3 class="sub-title title">ARTICLE 1 - L'EDITEUR</h3>
      <p class="text-content">
        L'édition du Site est assurée par ZABIBU ETS immatriculée au Registre du
        Commerce et des Sociétés de CD/KNG/RCCM/21-A-00837 dont le siège social
        est situé au 40 Av. Luluwa, C/Bandalungwa, Kinshasa, Adresse e-mail :
        <a href="mailto:contact@zabibu.co." class="cover-link"
          >contact@zabibu.co.</a
        >
      </p>
    </section>

    <section class="block-context">
      <h3 class="sub-title title">ARTICLE 2 - L'HEBERGEUR</h3>

      <p class="text-content">
        Le Site est hébergé par Netlify, dont le siège social est situé 2325 3rd
        Street, Suite 296, San Francisco, California 94107.
      </p>
      <p class="text-content">
        L’hébergeur est joignable à l’adresse email
        <a href="mailto:support@netlify.com" class="cover-link"
          >support@netlify.com</a
        >
      </p>
    </section>
    <section class="block-context">
      <h4 class="sub-title title">ARTICLE 3 - ACCES AU SITE</h4>
      <p class="text-content">
        Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force
        majeure, interruption programmée ou non et pouvant découlant d’une
        nécessité de maintenance.
      </p>
      <p class="text-content">
        En cas de modification, interruption ou suspension du Site, l'Editeur ne
        saurait être tenu responsable.
      </p>
    </section>
    <section class="block-context">
      <h3 class="sub-title title">ARTICLE 4 - COLLECTE DES DONNEES</h3>
      <p class="text-content">
        Le Site assure à l'Utilisateur une collecte et un traitement
        d'informations personnelles dans le respect de la vie privée
        conformément à la loi n°78-17 du 6 janvier 1978 relative à
        l'informatique, aux fichiers et aux libertés.
      </p>
      <p class="text-content">
        En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978,
        l'Utilisateur dispose d'un droit d'accès, de rectification, de
        suppression et d'opposition de ses données personnelles.
      </p>
    </section>

    <section class="block-context">
      <p class="text-content">L'Utilisateur exerce ce droit</p>
      <ol class="legal__list-description order">
        <li>via un formulaire de contact ;</li>
        <li>via son espace personnel;</li>
      </ol>
    </section>
    <section class="block-context">
      <p class="text-content">
        Toute utilisation, reproduction, diffusion, commercialisation,
        modification de toute ou partie du Site﻿, sans autorisation de l’Editeur
        est prohibée et pourra entraînée des actions et poursuites judiciaires
        telles que notamment prévues par le Code de la propriété intellectuelle
        et le Code civil.
      </p>
      <p class="text-content">
        Pour plus d’informations, se reporter aux CGU du site
        <a href="https://www.zabibu.co/" class="cover-link"
          >https://www.zabibu.co</a
        >
        accessible à la rubrique
        <a routerLink="/terms/cgu" class="cover-link">"CGU"</a>.
      </p>
      <p class="text-content">
        Pour plus d'informations en matière de protection des données à
        caractère personnel , se reporter à la Charte en matière de protection
        des données à caractère personnel du site
        <a href="https://www.zabibu.co/" class="cover-link"
          >https://www.zabibu.co</a
        >
        accessible à la rubrique
        <a routerLink="/terms/privacy-policy" class="cover-link">{{
          "legal-information.privacy-policy.title" | translate
        }}</a
        >.
      </p>
      <p class="text-content">
        Pour plus d'informations en matière de cookies, se reporter à la Charte
        en matière de cookies du site
        <a href="https://www.zabibu.co/" class="cover-link"
          >https://www.zabibu.co</a
        >
        accessible à la rubrique
        <a routerLink="/terms/cookie-policy" class="cover-link">{{
          "legal-information.tabs.cookie-policy" | translate
        }}</a
        >.
      </p>
    </section>
  </article>
</app-rgpd-template>
