<div class="lagal__banner">
  <h1>{{ "legal-information.title" | translate }}</h1>
</div>
<main class="body legal">
  <aside class="legal__sidebar">
    <ul class="legal__list">
      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms"
          >{{ "legal-information.tabs.terms" | translate }}</a
        >
      </li>
      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms/privacy-policy"
          >{{ "legal-information.tabs.privacy-policy" | translate }}</a
        >
      </li>

      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms/cookie-policy"
          >{{ "legal-information.tabs.cookie-policy" | translate }}</a
        >
      </li>
      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms/cgu"
          >{{ "legal-information.tabs.cgu" | translate }}</a
        >
      </li>
      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms/legal-information"
          >{{ "legal-information.tabs.legal-information" | translate }}</a
        >
      </li>
      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms/rgpd"
          >{{ "legal-information.tabs.rgpd" | translate }}</a
        >
      </li>

      <li>
        <a
          class="legal__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/terms/subcontractors"
          >{{ "legal-information.tabs.subcontractors" | translate }}</a
        >
      </li>
    </ul>
  </aside>

  <article>
    <!-- <app-features /> -->
    <main class="legal__content">
      <ng-content></ng-content>
    </main>
  </article>
</main>
<app-footer />
