<div class="container">
    <div class="banner">
        <span class="badge">BENEFIT WILL YOU GET</span>
        <h1 class="banner__title bigger-text">Boosts your marketing and sales with zabibuCRM.</h1>
        <p class="banner__text">Dashboard platform that was created with the aim of making it easier for business people
            to manage sales
            data,
            sales statistics and sales reports.</p>
        <form action="" method="post">
            <div class="mb-3 form-input">
                <input type="email" placeholder="Input your email address" class="input-field" name="email" id="#email">
                <button class="btn red-gradient">Request a demo</button>
            </div>
        </form>
    </div>
</div>