<app-banner></app-banner>
<app-two-column class="linear-block-right" [imageRigth]="true" pseudoClass="right" [imageUrl]="screenImages"
    title="Having everything you need in one app"
    textDescription="There are many variations of passages of Lorem Ipscted humour, or randomised words which don't look slightly believable. If you are going to use a passage ."
    linkText="Learn More"></app-two-column>
<app-block-video></app-block-video>
<app-features></app-features>
<app-two-column class="linear-block-left" [imageRigth]="false" pseudoClass="right"
    imageUrl="/assets/images/pieces/09.png" title="Realtime update about your business"
    textDescription="There are many variations of passages of Lorem Ipscted humour, or randomised words which don't look slightly believable. If you are going to use a passage ."
    linkText="Learn More"></app-two-column>
<app-testimonials />