<section class="faq" id="faq">
    <div class="faq__infos center-block">

        <h3 class="title-3 mb-5">Frequently Asked Questions</h3>
    </div>
    <div class="container">

        <div class="faq__content ">

            <ul class="faq__list">
                <li class="faq__item">

                    <button type="button" class="faq__button">
                        <span class="title-4">
                            1. Où sont mes prestation de service ?
                        </span>
                        <span class="arrow__button">
                            <svg width="12" height="12" viewBox="0 0 12 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.89213 1.89404L10.3291 10.331L1.89212 18.768" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                    </button>
                    <p class="faq__text">
                        The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the
                        middle of text. All the Lorem generators on the Internet tend to repeat predefined chunks as
                        necessary, making this the first true generator on the Internet.
                    </p>
                </li>

                <li class="faq__item">

                    <button type="button" class="faq__button">
                        <span class="title-4">2. How can I edit a service that I've been awarded ?
                        </span>
                        <span class="arrow__button">
                            <svg width="12" height="12" viewBox="0 0 12 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.89213 1.89404L10.3291 10.331L1.89212 18.768" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                    </button>
                    <p class="faq__text">
                        The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the
                        middle of text. All the Lorem generators on the Internet tend to repeat predefined chunks as
                        necessary, making this the first true generator on the Internet.
                    </p>
                </li>

                <li class="faq__item">

                    <button type="button" class="faq__button">
                        <span class="title-4">3. Can I cancel or change my order?
                        </span>
                        <span class="arrow__button">
                            <svg width="12" height="12" viewBox="0 0 12 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.89213 1.89404L10.3291 10.331L1.89212 18.768" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                    </button>
                    <p class="faq__text">
                        The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the
                        middle of text. All the Lorem generators on the Internet tend to repeat predefined chunks as
                        necessary, making this the first true generator on the Internet.
                    </p>
                </li>
                <li class="faq__item">

                    <button type="button" class="faq__button">
                        <span class="title-4">4. I have a promotional or discount code?
                        </span>
                        <span class="arrow__button">
                            <svg width="12" height="12" viewBox="0 0 12 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.89213 1.89404L10.3291 10.331L1.89212 18.768" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                    </button>
                    <p class="faq__text">
                        The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the
                        middle of text. All the Lorem generators on the Internet tend to repeat predefined chunks as
                        necessary, making this the first true generator on the Internet.
                    </p>
                </li>
                <li class="faq__item">

                    <button type="button" class="faq__button">
                        <span class="title-4">5. Can I integrate my store with Facebook?
                        </span>
                        <span class="arrow__button">
                            <svg width="12" height="12" viewBox="0 0 12 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.89213 1.89404L10.3291 10.331L1.89212 18.768" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                    </button>
                    <p class="faq__text">
                        The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the
                        middle of text. All the Lorem generators on the Internet tend to repeat predefined chunks as
                        necessary, making this the first true generator on the Internet.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>