@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-size      : var(--default-size);
    overflow-x     : hidden;
    min-height     : 100vh;
}

body {
    background-color: var(--white);
    color           : var(--color-dark-2);
    line-height     : 1.5;
}


li {
    list-style: none;
}

a,
img,
span,
data,
input,
button,
ion-icon {
    @extend %block;
}

a {
    color: inherit;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border    : none;
    font      : inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}


address {
    font-style: normal;
}

input,
button,
a {
    color: inherit;
}

main {

    p {
        color: var(--color-gray);
    }

}

.container {
    width        : 100%;
    padding-right: .75rem;
    padding-left : .75rem;
    margin-right : auto;
    margin-left  : auto;

    @media #{$sm-screen} {
        max-width: 540px;
    }

    @media #{$md-screen} {
        max-width: 720px;
    }

    @media #{$lg-screen} {
        max-width: 960px;
    }

    @media #{$xl-screen} {
        max-width: 1140px;
    }

    margin-inline : auto;
    padding-inline: rem(20);

    @media #{$md-screen} {
        padding-inline: 0;
    }
}

.red-gradient {
    background-image: var(--primary-color-gradient);
}

a.red-gradient {
    color          : var(--color-white);
    text-decoration: none;

    &::after,
    &::before {
        display: none !important;

    }
}

.red-border {

    border: 1px solid var(--primary-color);
}

a.red-border,
button.red-border {
    color          : var(--primary-color);
    text-decoration: none;

    &::after,
    &::before {
        display: none !important;
    }
}

.x-rounded {
    @extend %roundedXFull;
}

.badge {
    font-weight   : 500;
    color         : var(--primary-color);
    text-transform: uppercase;
    font-size     : rem(16);
}

.bigger-text {
    font-size: var(--text-bigger);
    margin   : rem(45) 0;
}