<div class="banner">
    <div class="container">
        <span class="badge">BENEFIT WILL YOU GET</span>
        <h1 class="banner__title bigger-text">Boosts your marketing and sales with zabibuCRM.</h1>
        <p class="banner__text">Dashboard platform that was created with the aim of making it easier for business people
            to manage sales
            data,
            sales statistics and sales reports.</p>
        <form action="https://zabibu-crm.netlify.app/" method="post">
            <div class="mb-3 form-input">
                <input type="email" placeholder="Input your email address" class="input-field" name="email" id="#email">
                <button class="btn red-gradient">Request a demo</button>
            </div>
        </form>
        <div class="banner__img">
            <img src="/assets/images/crm-1.png" alt="CRM 1">
        </div>
        <div class="banner__action">

            <a href="#" class="btn-icon btn red-border">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                    <title>Play Circle</title>
                    <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none"
                        stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
                    <path fill="currentColor"
                        d="M216.32 334.44l114.45-69.14a10.89 10.89 0 000-18.6l-114.45-69.14a10.78 10.78 0 00-16.32 9.31v138.26a10.78 10.78 0 0016.32 9.31z" />
                </svg>
                <span>Watch video tutorial</span>

            </a>
        </div>
    </div>
</div>