<app-rgpd-template>
  <article class="fade">
    <h2>Politique de Confidentialité</h2>
    <app-legal-date />
    <app-download-button />
    <p>
      La présente Politique de Confidentialité a pour objectif de vous fournir
      toutes les informations sur les conditions dans lesquelles Zabibu collecte
      et traite vos Données à Caractère Personnel. 
    </p>
    <p>
      La Politique de Confidentialité fait partie des CGV (lorsque celles-ci
      vous sont applicables) et des CGU du Logiciel et chaque terme défini dans
      ces documents a la même signification dans la Politique de
      Confidentialité. 
    </p>
    <p>
      En accédant et en utilisant nos sites web et/ou le Logiciel Zabibu, vous
      vous engagez à prendre connaissance de cette Politique de Confidentialité,
      qui peut être modifiée ou mise à jour à tout moment sans préavis. 
    </p>
    <p>
      Toute modification sera mise en ligne sur le Site  et nous vous
      conseillons de la consulter régulièrement. 
    </p>
    <h3>
      I. Finalités des traitements et nature des Données à Caractère Personnel
      traitées
    </h3>
    <ul>
      <li>
        <p>
          <span> 1.1.</span> Nous recueillons et traitons les Données à
          Caractère Personnel que vous nous fournissez volontairement afin
          d’accéder et d’utiliser le Logiciel, de formuler des demandes à nos
          équipes (démonstrations, essai gratuit, demandes de partenariat,
          parrainage ou autres) ou d’accéder à nos ressources en ligne. 
        </p>
        <p>
          Nous recueillons et traitons également les données relatives aux
          préférences de nos Utilisateurs et au trafic sur nos sites (comme les
          adresses IP des visiteurs de notre Site). 
        </p>
        <p>
          Enfin, nous recevons également des données vous concernant de la part
          de nos partenaires, qui les recueillent directement auprès de vous, ou
          sur des sources publiques, ainsi que de la part de nos Clients qui
          souhaiteraient vous parrainer pour la souscription d’un Abonnement.  
        </p>
        <p>Plus précisément, nous traitons vos Données pour permettre : </p>
        <ul>
          <li>
            la création des comptes sur nos sites web (Compte Zabibu, Compte
            d’Essai, Compte sur notre plateforme de presentation) afin d’accéder
            au Logiciel et utiliser nos services ; 
          </li>
          <li>
            la fourniture de nos différents sites web (le Site, notre plateforme
            de formation),  et de leurs différentes fonctionnalités.
          </li>
          <li>le téléchargement de nos ressources en ligne ;</li>
          <li>
            la création des comptes sur nos sites web (Compte Zabibu, Compte
            d’Essai, Compte sur notre plateforme de presentation) afin d’accéder
            au Logiciel et utiliser nos services ; 
          </li>
          <li>
            la gestion et le suivi des prestations (création des prestations,
            création des clients, paiements, réclamations et Support aux
            Utilisateurs) ;
          </li>
          <li>
            l’amélioration de notre service commercial. Dans ce contexte, nous
            pouvons être amenés à enregistrer vos communications téléphoniques
            avec nos équipes commerciales ; 
          </li>
          <li>
            le suivi de la satisfaction Client (enquêtes, suivi des avis
            Clients) ;
          </li>
          <li>la gestion des partenariats technologiques et commerciaux ;</li>
          <li>
            la gestion de la prospection et des demandes d’informations (envoi
            d’offres commerciales et marketing, newsletters, livres blancs,
            demandes de démonstrations en ligne, demande de devis…) ;
          </li>
          <li>
            l’amélioration de nos services, en plaçant des cookies sur les
            terminaux des utilisateurs ;
          </li>
        </ul>
        <p>
          Pour ouvrir un Compte, vous devez nous fournir à tout le moins les
          informations personnelles d’identification suivantes pour pouvoir
          utiliser le Logiciel : 
        </p>
        <ul>
          <li>Votre nom</li>
          <li>Votre Prenom</li>
          <li>Votre adresse email</li>
          <li>Votre numéro de téléphone.</li>
          <li>Mot de passe</li>
        </ul>
        <p>
          Vous pouvez compléter votre profil avec d’autres Données à Caractère
          Personnel (adresse, autre numéro de téléphone, date de naissance,
          photo, nom de vos clients ou prospects, etc.). 
        </p>
        <p>
          Nous ne collecterons jamais, ou ne traiterons jamais, de Données à
          Caractère Personnel sensibles au sens de la réglementation,
          concernant, par exemple, l’origine raciale ou ethnique, les opinions
          politiques, les convictions religieuses ou philosophiques, ou encore
          l’appartenance syndicale, la santé, etc. 
        </p>
      </li>
      <p></p>
    </ul>
  </article>
</app-rgpd-template>
