<app-rgpd-template>
  <article class="fade">
    <h2>{{ "legal-information.cgu.title" | translate }}</h2>
    <app-legal-date />
    <app-download-button />
    <section class="block-context">
      <h3 class="sub-title title">Définitions</h3>
      <p>
        Les Parties conviennent et acceptent que les termes suivants utilisés
        avec une majuscule, au singulier et/ou au pluriel, auront, dans le cadre
        des présentes Conditions Générales d'Utilisation, la signification
        définie ci-après :
      </p>
      <ul class="legal__list-description order">
        <li>
          <p>
            <span class="cover-link">« Contrat »</span>: désigne les présentes
            Conditions Générales d'Utilisation ainsi que la Politique de
            protection des données personnelles ;
          </p>
        </li>
        <li>
          <p>
            <span class="cover-link">« Membre » </span>: désigne indifféremment
            le Membre Freemium et le Membre Premium ;
          </p>
        </li>
        <li>
          <p>
            <span class="cover-link">« Membre Freemium » </span>désigne le
            membre ayant un compte sur notre Plateforme pour accéder aux
            fonctionnalités gratuites de notre Plateforme ;
          </p>
        </li>
        <li>
          <p>
            <span class="cover-link">« Membre Premium »</span>: désigne le
            membre ayant un compte sur notre Plateforme pour accéder aux
            services Premium Solo ou Plus ;
          </p>
        </li>
        <li>
          <p>
            <span class="cover-link">« Plateforme »</span>: plateforme numérique
            de type site Web et/ou application mobile permettant l'accès au
            Service ainsi que son utilisation ;
          </p>
        </li>
        <li>
          <p>
            <span class="cover-link">« Utilisateur » </span> : désigne toute
            personne qui utilise la Plateforme, qu'elle soit un Visiteur ou un
            Membre ;
          </p>
        </li>
        <li>
          <p>
            <span class="cover-link">« Visiteur »</span> : désigne toute
            personne, internaute, naviguant sur la Plateforme sans création de
            compte associé.
          </p>
        </li>
      </ul>
    </section>
    <section class="block-context">
      <p class="text-content">
        Les présentes Conditions Générales d'Utilisation (ci-après les "CGU")
        régissent nos rapports avec vous, personne accédant à la Plateforme,
        applicables durant votre utilisation de la Plateforme et, si vous êtes
        un Membre jusqu'à désactivation de votre compte. Si vous n'êtes pas
        d'accord avec les termes des CGU il vous est vivement recommandé de ne
        pas utiliser notre Plateforme et nos services.
      </p>
      <p class="text-content">
        En naviguant sur la Plateforme, si vous êtes un Visiteur, vous
        reconnaissez avoir pris connaissance et accepté l'intégralité des
        présentes CGU et notre Politique de protection des données personnelles.
      </p>
    </section>
    <section class="block-context">
      <p class="text-content">
        En créant un compte en cliquant sur le bouton « S'inscrire avec Google »
        ou « Inscription avec un email » pour devenir Membre, vous êtes invité à
        lire et accepter les présentes CGU et la Politique de protection des
        données personnelles, en cochant la case prévue à cet effet.
      </p>
      <p class="text-content">
        Nous vous encourageons à consulter les « Conditions Générales
        d'Utilisation et la Politique de protection des données personnelles »
        avant votre première utilisation de notre Plateforme et régulièrement
        lors de leurs mises à jour. Nous pouvons en effet être amenés à modifier
        les présentes CGU. Si des modifications sont apportées, nous vous
        informerons par email ou via notre Plateforme pour vous permettre
        d'examiner les modifications avant qu'elles ne prennent effet. Si vous
        continuez à utiliser notre Plateforme après la publication ou l'envoi
        d'un avis concernant les modifications apportées aux présentes
        conditions, cela signifie que vous acceptez les mises à jour. Les CGU
        qui vous seront opposables seront celles en vigueur lors de votre
        utilisation de la Plateforme.
      </p>
    </section>
    <h3 class="sub-title title">Article 1. Inscription au service</h3>
    <section class="block-section">
      <h4 class="sub-title">1.1 Conditions d'inscription à la Plateforme</h4>
      <p class="text-content">
        Certaines fonctionnalités de la Plateforme nécessitent d'être inscrit et
        d'obtenir un compte. Avant de pouvoir vous inscrire sur la Plateforme
        vous devez avoir lu et accepté les présentes CGU et la Politique de
        protection des données personnelles.
      </p>
    </section>
    <section class="block-context">
      <p class="text-context">
        Vous déclarez avoir la capacité d'accepter les présentes conditions
        générales d'utilisation, c'est-à-dire avoir plus de 16 ans et ne pas
        faire l'objet d'une mesure de protection juridique des majeurs (mise
        sous sauvegarde de justice, sous tutelle ou sous curatelle).
      </p>
      <p class="text-content">
        Avant d'accéder à notre Plateforme, le consentement des mineurs de moins
        de 16 ans doit être donné par le titulaire de l'autorité parentale.
      </p>
      <p class="text-content">
        Notre Plateforme ne prévoit aucunement l'inscription, la collecte ou le
        stockage de renseignement relatifs à toute personne âgée de 15 ans ou
        moins.
      </p>
    </section>
    <h4 class="sub-title">1.2 Création de compte</h4>
    <section class="block-context">
      <p class="text-context">1.2 Création de compte</p>
      <ul class="legal__list-description">
        <li>
          Soit remplir manuellement, sur notre Plateforme, les champs
          obligatoires figurant sur le formulaire d'inscription, à l'aide
          d'informations complètes et exactes. Pour enregistrer votre compte, il
          vous faudra soumettre à Zabibu certaines informations à caractère
          personnel telles que votre nom, prénom et votre adresse email, votre
          numero de téléphone. Vous trouverez le descriptif du traitement de vos
          données dans notre Politique de confidentialité ;
        </li>
        <li>
          Soit en utilisant un compte existant (notamment via Google Plus), en
          utilisant la fonction prévue à cet effet. En utilisant une telle
          fonctionnalité, nous aurons accès, publierons sur notre Plateforme et
          conserverons certaines informations de votre compte Google. Vous
          pouvez à tout moment supprimer le lien entre votre compte sur la
          Plateforme Zabibu et votre compte Google Plus par l'intermédiaire des
          réglages de votre profil Google Plus. Si vous souhaitez en savoir plus
          sur l'utilisation de vos données dans le cadre de votre compte Google,
          consultez notre Politique de confidentialité et celles de Google.
        </li>
        <li>
          Vous recevrez ensuite un email avec un mot de passe temporaire que
          vous devrez ensuite modifier lors de votre première connexion à notre
          Plateforme.
        </li>
      </ul>
      <p class="text-content">
        A l'occasion de la création de votre compte, et ce quelle que soit la
        méthode choisie pour ce faire, vous vous engagez à fournir des
        informations personnelles vraies, exactes, complètes et à les mettre à
        jour par l'intermédiaire de votre profil ou en en avertissant Zabibu,
        afin d'en garantir la pertinence et l'exactitude tout au long de votre
        relation avec Zabibu.
      </p>
    </section>
    <section class="block-context">
      <p class="text-content">
        En cas d'inscription par email, vous vous engagez à garder secret le mot
        de passe choisi lors de la création de votre compte et à ne le
        communiquer à personne. En cas de perte ou divulgation de votre mot de
        passe, vous vous engagez à en informer sans délai Zabibu. Vous êtes seul
        responsable de l'utilisation faite de votre compte par un tiers, tant
        que vous n'avez pas expressément notifié Zabibu de la perte,
        l'utilisation frauduleuse ou la divulgation de votre mot de passe à un
        tiers.
      </p>
      <p class="text-content">
        Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité
        ou celle d'un tiers, d'autres comptes que celui initialement créé. Vous
        ne pouvez pas autoriser des tiers à utiliser votre compte. Vous ne
        pouvez pas céder ou, quoi qu'il en soit, transférer votre compte à toute
        autre personne ou entité.
      </p>
      <p class="text-content">
        Les informations que vous avez fournies pendant l'inscription peuvent
        être corrigées pendant le processus d'inscription en revenant aux écrans
        précédents et en corrigeant les informations erronées. Vous acceptez de
        respecter les lois applicables lorsque vous utilisez les services, et
        vous ne pouvez utiliser les services qu'à des fins légales. Le contenu
        présent sur la Plateforme doit uniquement être utilisé pour un usage
        privé.
      </p>
    </section>
    <section class="block-context">
      <p class="text-content">
        Lorsque vous choisissez votre mot de passe, vous ne devez pas utiliser
        de mot de passe simpliste (par exemple : 123456).
      </p>
      <p class="text-content">
        L'identifiant et le mot de passe seront strictement personnels et
        confidentiels et vous devrez les conserver et les utiliser de manière à
        en préserver la stricte confidentialité.
      </p>
      <p class="text-content">
        Le Membre sera seul autorisé à accéder au Service à l'aide de son
        identifiant et son mot de passe. Toute utilisation de la Plateforme au
        moyen de ses identifiants et mot de passe est réputée avoir été faite
        par le Membre lui-même. En cas d'utilisation par un tiers de ses
        identifiant et mot de passe, le Membre devra en avertir immédiatement
        Zabibu en lui adressant un email à l'adresse suivante :
        <a href="mailto:christian@zabubu.co" class="cover-link"
          >christian@zabubu.co</a
        >
      </p>
      <p class="text-content">
        Le Membre qui a perdu son mot de passe devra se connecter sur le site de
        Zabibu et suivre la procédure en cliquant sur le lien
        <span class="cover-link">« mot de passe oublié »</span>.
      </p>
      <p class="text-content">
        Le Membre est responsable de l'utilisation de la Plateforme et de toutes
        les actions réalisées au sein de la Plateforme avec son identifiant et
        son mot de passe, sauf si l'utilisation de son compte a été faite après
        sa désinscription, ou après notification à Zabibu d'une utilisation
        abusive de son compte.
      </p>
    </section>
    <h4 class="sub-title">1.3. Conditions d'accès à la Plateforme</h4>
    <ol>
      <li class="block-context">
        <p class="text-content">
          <span class="order-point">1.3.1</span> Si vous n'avez pas de compte
          Membre gratuit
        </p>
        <p class="text-content">
          Si vous n'avez pas créé de compte Membre sur notre Plateforme, vous ne
          pouvez pas accéder à la Plateforme ainsi vous n'aurez pas de profil
          personnel. En effet certains accès ne vous seront pas autorisés, comme
          l'accès intégral aux gestions de prestation et la gestion des clients,
          des factures. Vous n'aurez pas de compte personnel. Les présentes CGU
          vous sont opposables car elles régissent les conditions d'utilisation
          du Service, vous devez en prendre connaissance et les accepter avant
          de poursuivre votre navigation sur la Plateforme.
        </p>
      </li>
      <li class="block-context">
        <p class="text-content">
          Si vous avez déjà un compte membre gratuit - Service Freemium
        </p>
        <p class="text-content">
          Le service Zabibu qui ne nécessite pas de paiement est actuellement
          désigné par l'expression « Service Freemium ».
        </p>
        <p class="text-content">
          Si vous avez créé un compte Membre gratuit vous pouvez accéder à la
          Plateforme et à certaines fonctionnalités du Service Freemium. Suite à
          la création de votre compte, vous pourrez accéder à votre page de
          profil où vous renseignez certaines mentions qui sont obligatoires et
          d'autres qui sont optionnelles.
        </p>
        <p class="text-content">
          Vous pouvez accéder à certains fonctionnalités de la plateforme mais
          vous serez limités à [...A COMPLETER...] Vous avez également accès aux
          [...A COMPLETER...]. Toutefois, comme vous n'aurez pas suivi de la
          plateforme avec abonnement, nous ne pourrons pas vous [...A
          COMPLETER...]. relatif au [...A COMPLETER...]. Avant d'utiliser la
          Plateforme, vous devrez lire attentivement les présentes Conditions
          Générales d'Utilisation.
        </p>
      </li>
    </ol>
    <h3>Article 2. Informations fournies par vous</h3>
    <section class="block-context">
      <p class="text-context">
        Chaque personne garantit à Zabibu que les informations qu'il fournit
        quant à son identité et ses coordonnées dans le cadre du Service sont
        vraies, exactes, complètes et à jour. Vous êtes seul responsable de la
        sincérité et de l'exactitude de ces informations. Vous vous engagez à
        mettre à jour régulièrement l'ensemble des informations afin de
        préserver leur exactitude.
      </p>
      <p class="text-content">
        Zabibu ne pourra en aucun cas être tenue responsable des erreurs,
        omissions, imprécisions pouvant être relevées dans les informations que
        vous nous avez fournies, ni du préjudice pouvant éventuellement en
        découler pour les autres Utilisateurs ou pour des tiers.
      </p>
      <p class="text-content">
        Vous êtes responsable de toute l'activité qui se déroule sur votre
        compte, et vous acceptez de préserver à tout moment la sécurité et le
        secret de votre identifiant et de votre mot de passe. Vous ne pouvez
        posséder qu'un seul compte.
      </p>
    </section>
    <h3>Article 3. Propriété intellectuelle</h3>
    <section class="block-context">
      <h4 class="sub-title">
        3.1. Propriété intellectuelle afférente au Service, à notre Plateforme
        et aux éléments qui les composent
      </h4>
      <p class="text-content">
        A l'exception des services réalisés par les Utilisateurs et/ou par les
        Partenaires Zabibu, l'ensemble des éléments techniques, graphiques,
        textuels ou autres constituant le Service et/ou notre Plateforme
        (textes, graphismes, logiciels, fichiers multimédias, photographies,
        images, vidéos, sons, plans, charte graphique, technologie(s), codes
        sources, noms, marques, logos, visuels, bases de données, etc.) ainsi
        que notre Plateforme et le Service eux-mêmes sont la propriété exclusive
        de Zabibu.
      </p>
      <p class="text-content">
        L'Utilisateur reconnaît qu'aucune propriété ne lui est transmise, et
        qu'aucun droit ou licence ne lui est accordé(e), en dehors d'un droit
        d'utiliser le Service conformément aux présentes pendant la durée du
        Contrat, et des droits d'utilisation des cours qui lui sont concédés en
        vertu des licences Creative Commons visées à l'article 4.1.1 ci-après.
      </p>
    </section>
    <section class="block-context">
      <p class="text-content">
        En conséquence, sauf autorisation expresse et préalable Zabibu et/ou
        sauf licence Creative Commons l'y autorisant, l'Utilisateur s'engage à
        ne pas :
      </p>
      <ul class="legal__list-description">
        <li>
          Reproduire, à des fins commerciales ou non, des services présents au
          sein du Service (à l'exception de ses propres documentation) et/ou les
          éléments techniques, graphiques, textuels ou autres constituant le
          Service et/ou notre Plateforme ;
        </li>
        <li>
          Intégrer tout ou partie du contenu du Service et/ou de notre
          Plateforme dans un site tiers, à des fins commerciales ou non ;
        </li>
        <li>
          Utiliser un robot, notamment d'exploration (spider), une application
          de recherche ou de récupération de sites Web ou tout autre moyen
          permettant d'extraire, réutiliser ou d'indexer tout ou partie du
          contenu du Service et/ou de notre Plateforme ;
        </li>
        <li>
          Collecter les informations sur les Utilisateurs pour leur envoyer des
          messages non sollicités et/ou les intégrer au sein d'un service de
          référencement ou équivalent, gratuit ou payant ;
        </li>
        <li>
          Copier les prestations présents au sein du Service (à l'exception de
          ses propres prestations) et/ou les éléments techniques, graphiques,
          textuels ou autres constituant le service et/ou notre Plateforme sur
          des supports de toute nature permettant de reconstituer tout ou partie
          des fichiers d'origine.
        </li>
      </ul>
      <p class="text-content">
        Toute utilisation non expressément autorisée d'éléments du Service et/ou
        de notre Plateforme engage la responsabilité civile et/ou pénale de son
        auteur et sera susceptible d'entraîner des poursuites judiciaires à son
        encontre.
      </p>
    </section>
    <h4 class="sub-title">
      3.2. Propriété intellectuelle afférente aux contenus publiés par
      l'Utilisateur au sein du Service
    </h4>
    <ol>
      <li>
        <p class="text-content">
          <span class="order-point">3.2.1.</span> En contrepartie de l'usage du
          Service, et quelle que soit la licence Creative Commons à laquelle la
          prestation est soumise par ailleurs, les Membres accordent à Zabibu
          une licence mondiale, non-exclusive, transférable et pouvant donner
          lieu à l'octroi d'une sous-licence, conférant à Zabibu le droit de
          copier, stocker, corriger, adapter et diffuser l'ensemble des contenus
          (en ce compris, les cours, les Projets et toute autre activité
          réalisée par les Membres au sein du Service) fournis par le Membre au
          sein du Service. Cette licence est concédée au fur et à mesure de la
          publication des éléments concernés, aux seules fins du bon
          fonctionnement du Service.
        </p>
      </li>
      <li>
        <p class="text-content">
          <span class="order-point">3.2.2. </span>Les Membres susmentionnés
          garantissent qu'ils disposent des droits de propriété intellectuelle
          et des droits de la personnalité (et en particulier, le droit à
          l'image) nécessaires à la publication des contenus (en ce compris, les
          prestations) qu'ils publient au sein du Service.
        </p>
        <p class="text-content">
          Ils garantissent également que les contenus qu'ils publient au sein du
          Service ne contiennent rien qui soit contraire aux droits des tiers et
          aux lois en vigueur, et notamment aux dispositions relatives à la
          diffamation, à l'injure, à la vie privée, au droit à l'image, à
          l'atteinte aux bonnes mœurs ou à la contrefaçon.
        </p>
        <p class="text-content">
          Vous garantissez ainsi Zabibu contre tout recours éventuel d'un tiers
          concernant la publication desdits contenus (en ce compris, les cours)
          au sein du Service.
        </p>
      </li>
    </ol>
    <h3>Article 4. Fonctionnalités du service</h3>
    <h4 class="sub-title">4.1. Les Prestations en ligne</h4>
    <ol>
      <li>
        <p class="text-content">
          <span class="order-point">4.1.1.</span> Toute prestation publié au
          sein du Service demeure la propriété de son auteur.
        </p>
        <p class="text-content">
          Sauf mention contraire, chaque prestation est soumis à l'une des
          quatre (4) licences Creative Commons suivantes :
        </p>
        <ul class="legal__list-description">
          <li>Licence CC BY ;</li>
          <li>Licence CC BY-SA ;</li>
          <li>Licence CC BY-NC ;</li>
          <li>Licence CC BY-NC-SA ;</li>
        </ul>
        <p class="text-content">
          Les droits d'utilisation couverts par chacune de ces licences Creative
          Commons sont détaillés sur
          <a
            href="https://creativecommons.org/licenses/?lang=fr-FR"
            class="cover-link"
            >la page suivante.</a
          >
        </p>
        <p>
          L'Utilisateur s'engage à prendre connaissance de la licence à laquelle
          chaque prestation est soumis et à respecter les modalités d'usage de
          la prestation visées par la licence concernée. Notamment,
          l'Utilisateur qui souhaite reproduire tout ou partie d'un cours doit
          impérativement vérifier que la licence à laquelle il est soumis le
          permet.
        </p>
      </li>
    </ol>
    <h4 class="sub-title">4.2. Espaces de discussion</h4>
    <section class="block-context">
      <p class="text-content">
        Les Membres et les Abonnés ont la faculté d'accéder à des espaces de
        discussion où ils peuvent consulter notamment les fils de discussion
        entre Prestateur, et échanger avec ces derniers sur une question donnée.
      </p>
      <p class="text-content">
        Vous vous engagez à ne pas diffuser de correspondance privée sur les
        espaces de discussion publics et doit, à cette fin, utiliser le service
        de messagerie privée.
      </p>
      <p class="text-content">
        Lorsque vous publiez un message, vous vous obligez à respecter en
        particulier les dispositions de l'article 7.2 ci-après et celles de la
        <a href="/terms/cgu#code-of-conduct" class="cover-link"
          >« Charte de Bonne Conduite »</a
        >.
      </p>
    </section>
    <section class="block-context" id="signal">
      <h3>Article 5. Signalement - modération a posteriori</h3>
      <p class="text-content">
        Tout Membre ou Abonné a la possibilité de signaler à Zabibu tout message
        et plus généralement tout contenu publié au sein du Service qui serait
        contraire au Contrat ou autrement illicite, et notamment outrageant,
        injurieux, diffamatoire, abusif, violent, obscène ou pornographique, ou
        comprenant une provocation à la discrimination ou à la haine fondée sur
        la race, la religion, le sexe, ou autre, une provocation aux crimes et
        délits, ou une apologie de crime, ou de nature à porter atteinte aux
        droit de propriété intellectuelle ou aux droits de la personnalité des
        tiers, ou encore de nature à altérer le fonctionnement du Service et/ou
        de notre Plateforme, de quelque manière que ce soit.
      </p>
      <p class="text-content">
        Pour cela, vous devrez contacter Zabibu, soit par email à l'adresse :
        <a href="mailto:hello@zabibu.com" class="cover-link">hello@zabibu.com</a
        >, soit à l'aide du formulaire accessible au sein du Service en cliquant
        sur l'onglet
        <a routerLink="/contact" class="cover-link">« Nous contacter »</a>, soit
        par courrier postal à l'adresse : 40 AV. Luluwa, C/Bandalungwa, Kinshasa
        RD.Congo, et procéder comme suit :
      </p>
      <ul class="legal__list-description order block-context">
        <li>Décliner votre identité ;</li>
        <li>
          Décrire le contenu litigieux de manière précise et détaillée ainsi que
          sa localisation sur notre Plateforme ;
        </li>
        <li>
          Décrire les motifs de fait et droit pour lesquels le contenu litigieux
          doit être considéré comme manifestement illicite et, par suite, retiré
          de notre Plateforme ;
        </li>
        <li>
          Adresser la copie de la correspondance que vous aurez préalablement
          envoyée à l'auteur de ce contenu pour en demander la modification ou
          le retrait et/ou la justification que vous n'avez pas pu contacter cet
          auteur.
        </li>
      </ul>
      <p class="text-content">
        Nous nous réservons le droit de supprimer tout contenu illicite ou non
        conforme au Contrat qui aura été préalablement signalé. Tout signalement
        manifestement abusif pourra être sanctionné par Zabibu.
      </p>
      <p class="text-content">
        Pour plus d'informations sur ses obligations, vous êtes invité à prendre
        connaissance de la
        <a href="/terms/cgu#code-of-conduct" class="cover-link"
          >« Charte de Bonne Conduite »</a
        >.
      </p>
    </section>
    <section class="block-context" id="privacy-policy">
      <h3>Article 6. Protection des données personnelles</h3>
      <p class="text-content">
        Nous portons une attention particulière à la protection de vos données
        personnelles. Vous trouverez
        <a routerLink="/terms/privacy-policy" class="cover-link">ici</a> le
        descriptif détaillé des utilisations que nous faisons de vos données
        personnelles et des cookies et leurs finalités.
      </p>
      <p class="text-content">
        Zabibu invite expressément l'Utilisateur à consulter sa Politique de
        protection des données personnelles qui fait partie intégrante des
        présentes CGU.
      </p>
    </section>
    <section class="block-context" id="code-of-conduct">
      <h3>
        Article 7. Obligations des Utilisateurs et Charte de Bonne Conduite
      </h3>
      <h4 class="sub-title">7.1. Obligations des Utilisateurs</h4>
      <div class="block-context">
        <p class="text-content">
          Dans le cadre de l'utilisation de la Plateforme, nous vous demandons
          de vous engager à :
        </p>
        <ul class="legal__list-description">
          <li>
            Garantir l'exactitude, l'intégrité et la légalité des informations
            que vous fournissez sur la Plateforme quantà votre identité et vos
            coordonnées ;
          </li>
          <li>Garantir le bon usage de la Plateforme ;</li>
          <li>Ne créer qu'un seul compte au sein de la Plateforme ;</li>
          <li>
            S'abstenir de saisir des informations et/ou messages, commentaires
            et autres contenus malveillants, dénigrants,diffamatoires,
            injurieux, obscènes, pornographiques, violents, à caractère raciste,
            xénophobe, discriminatoire,volontairement trompeurs, illicites et/ou
            contraires à l'ordre public ou aux bonnes mœurs ;
          </li>
          <li>
            Respecter les droits des tiers, et notamment le droit de chacun au
            respect de sa vie privée, de son image etde ses autres droits de la
            personnalité, ainsi que les droits de propriété intellectuelle
            (droit d'auteur,droits voisins, droit sur les bases de données,
            droit des marques, droit des brevets, dessins ou modèles,secret de
            fabrique, etc.) ;
          </li>
          <li>
            Ne pas usurper la qualité, l'attribut ou l'identifiant d'un autre
            Utilisateur ou d'un tiers de nature à induireen erreur ou à créer
            une confusion quelconque quant à son identité, à la provenance des
            informations, contenus(cours, messages, commentaires, etc.) qu'il
            diffuse ou transmet au sein de la Plateforme ;
          </li>
          <li>
            Ne pas altérer ou perturber l'intégrité de la Plateforme et/ou des
            données qui y sont contenues ;
          </li>
          <li>
            Ne pas tenter d'obtenir un accès non autorisé à la Plateforme ou aux
            systèmes ou réseaux qui lui sont associésou d'intercepter des
            données ;
          </li>
          <li>
            Utiliser la Plateforme dans le respect des législations et
            réglementations nationales et/ou internationales applicables.
          </li>
        </ul>
        <p class="text-content">
          En cas de manquement à l'une de ces obligations, nous nous réservons
          le droit de suspendre temporairement ou définitivement le compte de
          l'Utilisateur.
        </p>
      </div>
      <div class="block-context">
        <h4 class="sub-title">7.2. Charte de Bonne Conduite</h4>
        <p class="text-context">
          ZabibuCRM est un application web basé sur la gestion des prestations
          et le partage de prestation dont un espace de discussion est ouverts à
          tous les Membres et leurs prestateurs. Chacun est invité à y
          participer, en se créant un compte sur Zabibu et en respectant les
          règles élémentaires de courtoisie et la législation en vigueur.
        </p>
        <p class="text-content">
          Sont ainsi susceptibles de modération (liste non exhaustive) :
        </p>
        <ul class="legal__list-description">
          <li>
            les messages à caractère racistes, haineux, homophobes, sexistes ou
            diffamatoires
          </li>
          <li>
            les messages obscènes, pornographiques ou relevant du harcèlement
          </li>
          <li>
            les messages mentionnant des coordonnées précises comme un numéro de
            téléphone, une adresse postale et dontl'origine et l'exactitude sont
            invérifiables par les modérateurs ou pourraient engendrer un
            préjudices à des personnes
          </li>
        </ul>
        <p class="text-content">
          En cas de non-respect de ces règles et consignes, l'équipe Zabibu
          appliquera certaines sanctions aux Utilisateurs concernés. La sanction
          la plus élevée est le bannissement et consiste à bloquer entièrement
          l'accès à la Plateforme à un Utilisateur.
        </p>
      </div>
    </section>
    <section class="block-context" id="responsability">
      <h3>Article 8. Responsabilité de Zabibu</h3>
      <h4 class="sub-title">
        8.1. A l'égard des informations et/ou contenus publiés au sein de la
        Plateforme par les Utilisateurs
      </h4>
      <p class="text-content">
        Les informations et contenus (prestation, client, messages,
        commentaires) publiés par les Utilisateurs au sein de la Plateforme ne
        sont pas contrôlés en amont par Zabibu avant leur publication au sein de
        la Plateforme. En revanche, ils seront susceptibles d'être contrôlés a
        posteriori par Zabibu.
      </p>
      <p class="text-content">
        En notre qualité d'hébergeur de ces informations et/ou contenus (hors
        cours) mis en ligne par l'Utilisateur par l'intermédiaire de notre
        Plateforme, nous sommes soumis au régime de responsabilité atténuée
        prévu aux articles 6.I.2 et suivants de la loi nº2004-575 du 21 juin
        2004 pour la Confiance dans l'Économie Numérique. Nous pourrons, dans ce
        cadre, supprimer les Informations et/ou contenus manifestement illicites
        qui nous seront notifiés.
      </p>
      <div class="block-context">
        <h4 class="sub-title">8.2. En cas d'inexécution de nos obligations</h4>
        <p class="text-content">
          Zabibu ne sera responsable que des dommages directs subis par les
          Utilisateurs, dont il sera établi qu'ils résultent de l'inexécution
          nos obligations.
        </p>
        <p class="text-content">
          En revanche, nous ne saurons en aucun cas être tenus responsable :
        </p>
        <ul class="legal__list-description">
          <li>
            Des dommages qui résulteraient du fait de l'Utilisateur, de
            difficultés inhérentes au fonctionnement du réseau Internet et plus
            généralement des réseaux de télécommunication, quelle que soit leur
            nature, du fait d'un tiers ou d'un cas de force majeure ;
          </li>
          <li>
            Des dommages indirects résultant de l'utilisation de la Plateforme,
            ceux-ci étant définis de façon non limitative comme les pertes
            d'exploitation (chiffre d'affaires, revenus ou bénéfices), les
            pertes d'opportunités, les préjudices d'image ou de réputation,
            préjudice commercial ou économique ;
          </li>
          <li>
            De toute perte de données subie par l'Utilisateur, même si elle est
            du fait Zabibu.
          </li>
        </ul>
      </div>
    </section>
    <section class="block-context" id="interruption">
      <h3>
        Article 9. Interruption du service pour maintenance ou amélioration
      </h3>
      <p class="text-content">
        Nous nous engageons à mettre tout en œuvre pour assurer le bon
        fonctionnement de la Plateforme et son accessibilité mais nous ne sommes
        tenus qu'à une obligation de moyens concernant la continuité de l'accès
        au Service. Nous ne pouvons garantir la pérennité ou les performances de
        la Plateforme.
      </p>
      <p class="text-content">
        En cas de mise à jour de la Plateforme pour une évolution technique,
        notre Plateforme sera inaccessible temporairement.
      </p>
      <p class="text-content">
        L'accès au Service pourra être interrompu pour des raisons notamment de
        maintenance, de mise à jour et en cas d'urgence.
      </p>
      <p class="text-content">
        Plus généralement, l'interruption du Service quel que soit la cause, la
        durée ou la fréquence, n'engagera pas notre responsabilité et ne donnera
        droit à aucune indemnité à l'Utilisateur.
      </p>
      <p class="text-content">
        En conséquence, nous ne pouvons être tenu pour responsable de la perte
        d'argent, ou de réputation, ni des dommages spéciaux, indirects ou
        induits résultant de l'interruption du Service. De même, nous ne
        pourrons être tenus pour responsable des éventuelles dégradations de
        matériel, logiciel ou données (exemple : contamination virale) subies
        par l'Utilisateur du fait de son utilisation du Service.
      </p>
      <p class="text-content">
        Pour éviter autant que possible des désagréments, vous devez vous
        assurer de la réalisation régulière de sauvegardes concernant vos
        informations, contenus et logiciels.
      </p>
      <p class="text-content">
        Vous reconnaissez utiliser le Service, mais un "bug" de notre Plateforme
        peut vous faire perdre certaines de vos données, les altérer ou les
        exposer. Nous nous engageons cependant à tout mettre en oeuvre pour les
        restaurer dans la mesure du possible et à vous garantir un accès à la
        Plateforme le plus rapidement.
      </p>
    </section>
    <section class="block-context" id="auth">
      <h3>Article 10. Inscription et droits sur le compte Utilisateur</h3>
      <div class="block-context">
        <h4 class="sub-title">10.1. Par un Membre</h4>
        <p class="text-content">
          Tous les Membres de notre Plateforme disposent d'un droit d'accès, de
          modification ou de suppression de leur compte.
        </p>
        <p class="text-content">
          Les conditions de résiliation pour une souscription inférieure à
          quatorze (14) jours pour les abonnés ayant souscrit un Abonnement
          Premium sont régies par l'article 9 des
          <a href="#" class="cover-link">Conditions Générales de Service</a>. (A
          ecrire une fois la fonctionnalité "Abonnement mis en place" Cfr
          <a href="https://Zabibu.com/terms-of-sale" class="cover-link"
            >Zabibu</a
          >) Nous vous prions de bien vouloir vous y référer si vous êtes dans
          cette situation.
        </p>
        <p class="text-content">
          Si vous avez obtenu un abonnement Premium et avez pris part au systeme
          de parainage et de partenariat nous ne pourrons pas faire droit à
          votre demande de suppression de compte. En raison de nos obligations
          réglementaires liées à la nature de notre activité, nous devons
          conserver votre dossier comprenant votre fiche d'activité, et
          l'ensemble de votre parcours suivi avec Zabibu. Vos données seront
          archivées tout en veillant à une exigence maximale de sécurité en
          n'étant accessibles qu'à un nombre limité de personnes au sein de nos
          services. Nous pourrons, si vous le souhaitez, vous adressez votre
          dossier Client.
        </p>
        <p class="text-content">
          Si vous vous êtes engagés avec nous avec un Abonnement Premium plus
          mais que vous avez décidé d'arrêter votre Abonnement, nous traiterons
          votre demande selon que vous avez décidé d'arrêter définitivement
          votre Abonnement ou de faire une suspension. Dans le premier cas, nous
          supprimerons toutes vos données dans un délai de trente (30) jours,
          mais dans le second cas, nous ne pourrons pas faire droit à votre
          demande car nous devons conserver votre dossier lorsque vous serez un
          partenaire pour des contraintes règlementaires liées à la nature de
          notre activité.
        </p>
      </div>
      <div class="block-context">
        Les Utilisateurs ainsi que les Abonnés Premium peuvent à tout moment
        modifier et obtenir un droit d'accès à leur compte personnel en nous
        contactant par email à l'adresse
        <a href="mailto:contact@zabibu.co" class="cover-link"
          >contact@zabibu.co</a
        >. Si vous souhaitez vous désinscrire de notre Plateforme, veuillez
        cliquer sur le lien « je veux supprimer mon compte » dans l'onglet
        paramètre du profil ou en nous contactant par email à l'adresse précité.
        Votre demande de suppression de compte entraînera la suppression de vos
        données personnelles de nos bases de données. La désinscription
        entraînera la résiliation du Contrat. Cette résiliation prendra effet
        dans un délai de trente (30) jours ouvrés à compter de la réception de
        la demande de désinscription par Zabibu.
      </div>
      <h4 class="sub-title">10.2. Par Zabibu</h4>
      <p class="text-content">
        Si une demande d'inscription à nos services est effectuée par un mineur
        sans le consentement préalable de son responsable légal, nous pourrons
        bloquer l'accès au Compte jusqu'à ce que le consentement soit obtenu.
      </p>
      <p class="text-content">
        Lorsque nous remarquons qu'un Utilisateur, un Membre ou un Abonné de la
        Plateforme ne respecte pas les présentes CGU et les CGV, nous prendrons
        contact avec lui pour l'avertir qu'une sanction à son égard peut être
        prise, notamment la suspension de son compte. La Charte de bonne
        conduite énoncée dans ces CGU doit être respectée par chacun pour le bon
        fonctionnement de la Plateforme et la bonne entente entre les personnes.
      </p>
      <p class="text-content">
        Si aucune solution ne parvient à être trouvée et que les règles de bonne
        conduite ne sont pas respectées, nous serons dans l'obligation de
        désactiver votre compte pour une durée temporaire ou définitive et nous
        prendrons contact avec vous au préalable par email.
      </p>
    </section>
    <section class="block-context">
      <h3>Article 11. Force majeure</h3>
      <p class="text-content">
        Aucune des parties ne sera responsable vis-à-vis de l'autre partie d'un
        retard d'exécution ou d'une inexécution en raison de survenance d'un
        événement en dehors du contrôle des parties qui ne pouvait être
        raisonnablement prévu lors de l'acceptation des CGU et dont les effets
        ne peuvent pas être évités par des mesures appropriées.
      </p>
      <p class="text-content">
        Le cas de force majeure suspend les obligations de la partie concernée
        pendant le temps où jouera la force majeure si cet évènement est
        temporaire. Néanmoins, les parties s'efforceront d'en minimiser dans
        toute la mesure du possible les conséquences. A défaut, si l'empêchement
        est définitif, les parties seront libérées de leurs obligations dans les
        conditions prévues aux articles 1351 et 1351-1 du Code civil.
      </p>
    </section>
    <section class="block-context">
      <h3>Article 12. Résolution des différends</h3>
      <p class="text-content">
        Les CGU sont soumises à la loi Congolaise. Toutes difficultés relatives
        à la validité, l'application ou à l'interprétation des CGU seront
        soumises, à défaut d'accord amiable, au Tribunal de Grande Instance de
        la République Démocratique du Congo, auquel les Parties attribuent
        compétence territoriale, quel que soit le lieu d'exécution ou le
        domicile du défendeur. Cette attribution de compétence s'applique
        également en cas de procédure en référé, de pluralité de défendeurs ou
        d'appel en garantie.
      </p>
    </section>
  </article>
</app-rgpd-template>
