<app-banner />
<app-two-column class="linear-block-right" [imageRigth]="true" pseudoClass="right" [imageUrl]="globalBlockData.screenImages"
    [title]="globalBlockData.title"
    [textDescription]="globalBlockData.textDescription"
    linkText="Learn More" />
<app-block-video />
<app-features />

<app-two-column class="linear-block-left" [imageRigth]="false" pseudoClass="right" blockClass=" bgblob bgblob-bottom-right"
    [imageUrl]="blockChart.screenImages" [title]="blockChart.title"
    [textDescription]="blockChart.textDescription"
    linkText="Learn More" />
<app-testimonials />
<div class="block-footer">
    <app-faq />
    <app-bottom-label />
    <app-footer />
</div>