.dots {
    @extend %flexMiddle;
    gap         : rem(10);
    margin-block: rem(45);

    .dot__button {
        width           : rem(18);
        aspect-ratio    : 1/1;
        background-color: var(--color-little-gray);
        border-radius   : 100%;
        transition      : background-color var(--transition-1);

        &.active,
        &:hover {
            background-color: var(--primary-color);
        }
    }
}