<main class="body more-about">
    <article class="block-center container">
        <div class="block__img">
            <img src="/assets/images/logo-text.svg" alt="Logo">
        </div>
        <p>ZabibuCRM améliore la productivité en facilitant la gestion des prestations, cela en fait un logiciel de gestion de prestation extrêmement simple d’utilisation. consultez notre centre d’aide pour profiter pleinement de votre compte ZabibuCRM.</p>
    </article>
    <article class="container">
    
    <section class="block-description">
        <h2 class="title-3">About the CRM Integration</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus pharetra, mollis cras. Luctus pharetra duis nisi, fermentum, ipsum et felis odio. Nec semper nunc,s amet f arcu interdum  Nec semper nunc,s amet f arcu interdum quam.</p>
        <p>Egestas amet fermentum aliquam blandit pharetra eleifend. Id duis ipsum ac ante. Lectus enim, maecenas adipiscing neque, pellentesque nunc ut ipsum. Et adipiscing euismod placerat lacus. In sed arcu ullamcorper pharetra, nunc lobortis facilisis cursus erat.</p>
        <div class="block__img">
            <img src="/assets/images/Frame.svg" alt="Video description">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus pharetra, mollis cras. Luctus pharetra duis nisi, fermentum. Luctus pharetra duis nisi, fermentum, ipsum et felis odio. Nec semper nunc,s amet f arcu interdum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus pharetra, mollis cras. Luctus pharetra duis nisi, fermentum, ipsum et felis odio.Lorem ipsum</p>
        <h4 class="title-4">How to Connect Integration</h4>
        <p>Tustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
        <a href="#" class="btn btn-action red-gradient">Get started</a>
    
    </section>
    
    <section class="block-description">
        <h2 class="title-3">How to choose the right app reseller program</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and <strong>scrambled it to make</strong> a type specimen book.</p>
        <ol>
            <li>There are many variations of passages of Lorem Ipsum available.</li>
            <li>Majority have suffered alteration in some form, by injected humour.</li>
            <li>If you are going to use a passage of Lorem Ipsum.</li>
            <li>It uses a dictionary of over 200 Latin words, combined with a handful</li>
        </ol>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        <h2 class="title-3">Why a productivity app can change your work performance</h2>
        <p> you are going to use a passage of Lorem Ipsum, you need to be sure there isn't embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
        
        <div class="block__img">
            <img src="/assets/images/crm-guide.gif" alt="Logo">
        </div>
        <h2 class="title-3">Why a productivity app can change your work performance</h2>
        <p>you are going to use a passage of Lorem Ipsum, you need to be sure there isn't embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
        <ul>
            <li>You are going to use a passage of Lorem Ipsum, you need to </li>
            <li>be Sure there isn't embarrassing hidden in the middle of text. </li>
            <li>All the Lorem Ipsum generators on the Internet tend to repeat </li>
            <li>predefined Chunks as necessary, making this the first true generator </li>
        </ul>
        <p class="quote">
            <span class="red-gradient quote-img">
                <img src="/assets/images/quote.svg" alt="quote">
            </span>
            <cite>
                There are many variations of passages of Lorem Ipsum available
    but the majority have sufferg alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.
            </cite>
        </p>
        <h3 class="title-3">
            What is your favorite productivity Solution ?
        </h3>
        <p>you are going to use a passage of Lorem Ipsum, you need to be sure there isn't embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
    
    </section>
    
    </article>
</main>
<app-footer/>