<app-rgpd-template>
  <h2>{{ "legal-information.tabs.privacy-policy" | translate }}</h2>
  <app-legal-date />
  <app-download-button />
  <section class="block-context">
    <p class="text-content">
      La présente Politique de Confidentialité a pour objectif de vous fournir
      toutes les informations sur les conditions dans lesquelles Zabibu collecte
      et traite vos Données à Caractère Personnel.
    </p>
    <p class="text-content">
      La Politique de Confidentialité fait partie des CGV (lorsque celles-ci
      vous sont applicables) et des CGU du Logiciel et chaque terme défini dans
      ces documents a la même signification dans la Politique de
      Confidentialité.
    </p>
    <p class="text-content">
      En accédant et en utilisant nos sites web et/ou le Logiciel Zabibu, vous
      vous engagez à prendre connaissance de cette Politique de Confidentialité,
      qui peut être modifiée ou mise à jour à tout moment sans préavis.
    </p>
    <p class="text-content">
      Toute modification sera mise en ligne sur le Site  et nous vous
      conseillons de la consulter régulièrement.
    </p>
  </section>
  <h3>
    I. Finalités des traitements et nature des Données à Caractère Personnel
    traitées
  </h3>
  <ol class="block-context">
    <li>
      <section class="block-context">
        <p class="text-content">
          <span class="order-point"> 1.1.</span> Nous recueillons et traitons
          les Données à Caractère Personnel que vous nous fournissez
          volontairement afin d’accéder et d’utiliser le Logiciel, de formuler
          des demandes à nos équipes (démonstrations, essai gratuit, demandes de
          partenariat, parrainage ou autres) ou d’accéder à nos ressources en
          ligne.
        </p>
        <p class="text-content">
          Nous recueillons et traitons également les données relatives aux
          préférences de nos Utilisateurs et au trafic sur nos sites (comme les
          adresses IP des visiteurs de notre Site).
        </p>
        <p class="text-content">
          Enfin, nous recevons également des données vous concernant de la part
          de nos partenaires, qui les recueillent directement auprès de vous, ou
          sur des sources publiques, ainsi que de la part de nos Clients qui
          souhaiteraient vous parrainer pour la souscription d’un Abonnement.
        </p>
      </section>
      <section class="block-context">
        <p class="text-content">
          Plus précisément, nous traitons vos Données pour permettre : 
        </p>
        <ul class="legal__list-description">
          <li>
            la création des comptes sur nos sites web (Compte Zabibu, Compte
            d’Essai, Compte sur notre plateforme de presentation) afin d’accéder
            au Logiciel et utiliser nos services;
          </li>
          <li>
            la fourniture de nos différents sites web (le Site, notre plateforme
            de formation),  et de leurs différentes fonctionnalités.
          </li>
          <li>le téléchargement de nos ressources en ligne;</li>
          <li>
            la création des comptes sur nos sites web (Compte Zabibu, Compte
            d’Essai, Compte sur notre plateforme de presentation) afin d’accéder
            au Logiciel et utiliser nos services;
          </li>
          <li>
            la gestion et le suivi des prestations (création des prestations,
            création des clients, paiements, réclamations et Support aux
            Utilisateurs);
          </li>
          <li>
            l’amélioration de notre service commercial. Dans ce contexte, nous
            pouvons être amenés à enregistrer vos communications téléphoniques
            avec nos équipes commerciales;
          </li>
          <li>
            le suivi de la satisfaction Client (enquêtes, suivi des avis
            Clients);
          </li>
          <li>la gestion des partenariats technologiques et commerciaux;</li>
          <li>
            la gestion de la prospection et des demandes d’informations (envoi
            d’offres commerciales et marketing, newsletters, livres blancs,
            demandes de démonstrations en ligne, demande de devis…);
          </li>
          <li>
            l’amélioration de nos services, en plaçant des cookies sur les
            terminaux des utilisateurs;
          </li>
        </ul>
      </section>
      <section class="block-context">
        <p class="text-content">
          Pour ouvrir un Compte, vous devez nous fournir à tout le moins les
          informations personnelles d’identification suivantes pour pouvoir
          utiliser le Logiciel : 
        </p>
        <ul class="legal__list-description">
          <li>Votre nom</li>
          <li>Votre Prenom</li>
          <li>Votre adresse email</li>
          <li>Votre numéro de téléphone.</li>
          <li>Mot de passe</li>
        </ul>
        <p class="text-content">
          Vous pouvez compléter votre profil avec d’autres Données à Caractère
          Personnel (adresse, autre numéro de téléphone, date de naissance,
          photo, nom de vos clients ou prospects, etc.).
        </p>
        <p class="text-content">
          Nous ne collecterons jamais, ou ne traiterons jamais, de Données à
          Caractère Personnel sensibles au sens de la réglementation,
          concernant, par exemple, l’origine raciale ou ethnique, les opinions
          politiques, les convictions religieuses ou philosophiques, ou encore
          l’appartenance syndicale, la santé, etc.
        </p>
      </section>
    </li>
    <li class="block-context">
      <p>
        <span class="order-point">1.2.</span>Nous recueillons des informations
        relatives à la relation contractuelle que nous avons avec vous :
        historiques, Modules souscrits, éléments de facturation et paiement,
        demandes et  incidents signalés au service support… 
      </p>
    </li>
    <li class="block-context">
      <p>
        <span class="order-point">1.3.</span>Nous collectons également des
        données vous concernant à  l’occasion de nos échanges téléphoniques,
        lesquels sont susceptibles d’être enregistrés à des fins d’amélioration
        de notre service.
      </p>
    </li>
    <li>
      <section class="block-context">
        <p class="text-content">
          <span class="order-point">1.4.</span> Nous recueillons par le biais
          (ou le canal) de certains cookies déposés automatiquement sur votre
          terminal, ou d’autres cookies soumis à votre consentement exprès,
          certaines Données à Caractère Personnel lors de vos visites sur notre
          Site (<a
            href="https://www.zabibu.co/"
            target="_blank"
            class="cover-link"
            >zabibu.co</a
          >) ou lors de votre usage du Logiciel  : par exemple, la date, l’heure
          et la durée de votre visite sur notre Site, le chemin de votre
          navigation, le type de votre système d’exploitation, etc.
        </p>
        <p class="text-content">
          Un cookie est un petit fichier texte envoyé par le site Internet
          consulté par l’Utilisateur dans son navigateur Internet ou sur
          l’appareil utilisé. Il a pour fonction soit de permettre au site de
          fonctionner, de faciliter la navigation (mémoriser les choix
          techniques, l’activité passée), d'améliorer l’utilisation du site et
          du service et de mieux comprendre l’expérience des Utilisateurs.
        </p>
        <p class="text-content">
          La durée de vie maximale d’un cookie est de 13 mois.
        </p>
        <p class="text-content">
          Notre Politique de Cookies est disponible
          <a
            routerLink="/legal-information-rgpd/cookie-policy"
            target="_blank"
            class="cover-link"
            >ici</a
          >.
        </p>
      </section>
    </li>
  </ol>

  <h3>II. Bases légales des Traitements que nous réalisons </h3>
  <section class="block-context">
    <p class="text-content">
      Nous n’utilisons les Données à Caractère Personnel que dans les cas prévus
      par la réglementation en vigueur, qui sont : 
    </p>
    <ul class="legal__list-description order">
      <li>
        L’exécution du contrat de prestation de services relatif à votre
        utilisation du Logiciel Sellsy ou de mesures pré-contractuelles;
      </li>
      <li>Le respect d’une obligation légale;</li>
      <li>
        Votre consentement à utiliser vos données (s’agissant des cookies) :
        Vous pouvez, à tout moment, retirer ce consentement, sans que cela ne
        porte atteinte à la licéité du traitement fondé sur le consentement
        donné antérieurement au retrait de celui-ci;
      </li>
      <li>
        Notre intérêt légitime à mener des opérations de prospection ou de
        promotion nous concernant ou concernant nos filiales (informations
        concernant nos produits et services, nos promotions ou les événements
        que nous organisons au sein du groupe ZABIBU).
      </li>
    </ul>
  </section>

  <h3>III. Traitement des Données à Caractère Personnel</h3>
  <section class="block-context">
    <p class="text-content">
      ZABIBU collecte et traite vos Données à Caractère Personnel de façon
      loyale et licite, et dans le respect des principes du Règlement européen
      2016/679 du 27 avril 2016 (RGPD).
    </p>
    <p class="text-content">
      Cette Politique de Confidentialité décrit les obligations de ZABIBU en
      tant que responsable du traitement de vos Données à Caractère Personnel au
      sens du RGPD.
    </p>
    <p class="text-content">
      ZABIBU a désigné un Data Protection Officer (DPO ou délégué à la
      protection des données) qui pilote en continu la conformité de SELLSY aux
      principes et règles du RGPD et que vous pouvez contacter à l’adresse
      dpo@zabibu.com.
    </p>
  </section>
  <section class="block-context">
    <p class="text-content">Le DPO a notamment pour mission : </p>
    <ul class="legal__list-description">
      <li>
        D’informer et conseiller le Responsable de Traitement sur l’application
        du RGPD dans l’entreprise;
      </li>
      <li>
        De sensibiliser les collaborateurs de SELLSY à la protection des Données
        Personnelles des Utilisateurs;
      </li>
      <li>De les accompagner lors de la mise en œuvre de traitements;</li>
      <li>
        De répondre aux demandes liées à l’exercice de vos droits, conformément
        à l’article VIII.
      </li>
    </ul>
  </section>
  <h3>IV. Conservation de vos Données à Caractère Personnel </h3>
  <section class="block-context">
    <h4 class="sub-title">4.1. Sécurité </h4>
    <p class="text-content">
      ZABIBU met tout en œuvre pour éviter la perte, le détournement,
      l’intrusion, la divulgation non autorisée, l’altération ou la destruction
      des Données à Caractère Personnel que vous nous communiquez.
    </p>
  </section>
  <section class="text-content">
    <p class="text-content">Ainsi:</p>
    <ul class="legal__list-description">
      <li>
        Les Données sont stockées sur nos propres serveurs, lesquels sont
        hébergés au sein de l’infrastructure de AWS D’AMAZON. Le contrôle de la
        sécurité des serveurs et de la mise à jour de nos Logiciels
        d’exploitation est effectué en temps réel.
      </li>
      <li>
        Toutes les informations que vous nous transmettez sont chiffrées
        [protocole TLS V1.3].
      </li>
      <li>
        Les collaborateurs de ZABIBU sont soumis à une obligation de
        confidentialité et de non- divulgation et ont tous signé un engagement
        spécifique relatif à la protection des Données à Caractère Personnel.
      </li>
      <li>
        L’accès à vos Données est encadré par une politique de contrôle d’accès
        stricte, réservé aux personnes habilitées, dans des conditions définies.
      </li>
      <li>
         Lorsque nous faisons appel à des prestataires pour traiter des Données
        à Caractère Personnel, nous avons préalablement vérifié que ces
        prestataires garantissent un niveau équivalent de protection en matière
        de sécurité.
      </li>
    </ul>
    <p class="text-content">
      Pour plus d’informations, reportez-vous à notre FAQ Sécurité, consultable
      ici.
    </p>
  </section>

  <section class="text-content">
    <h4 class="sub-title">4.2. Durée </h4>
    <p class="text-content">
      ZABIBU conserve vos Données à Caractère Personnel conformément aux
      dispositions légales et réglementaires suivantes : 
    </p>
    <ul class="legal__list-description">
      <li>
        Nous conservons les informations relatives à la gestion du compte
        Client, des commandes, de la facturation, des paiements 10 ans après la
        fin du contrat ou du dernier contact émanant du Client inactif.
      </li>
      <li>
        Nous conservons les informations relatives à la constitution et à la
        gestion des fichiers de prospection 3 ans à compter du dernier contact
        émanant du prospect.
      </li>
      <li>
        Nous conservons les Données des Clients inactifs aux fins d’envoi
        d’informations sur nos offres commerciales et marketing, dans un délai
        de 3 ans après la fin de la relation Commerciale.
      </li>
      <li>
        Nous conservons les enregistrements des appels téléphoniques entre vous
        et nos équipes commerciales pendant une durée de six (6) mois.
      </li>
      <li class="flex-col sub-list">
        <p>
          Nous avons l’obligation de conserver pendant 1 an les Données à
          Caractère Personnel suivantes issues de la création, de la
          modification ou de la suppression du Contenu des Utilisateurs :
        </p>
        <ul class="sub-list-description">
          <li>- L’identification de connexion;</li>
          <li>- L’identification donnée par le terminal;</li>
          <li>- Types de protocoles; </li>
          <li>- Nature de l’opération;</li>
          <li>- Date et heure de l’opération;</li>
          <li>- Identification utilisée par l’auteur de l’opération.</li>
        </ul>
      </li>
    </ul>
    <p class="text-content">
      Pour plus d’informations, reportez-vous à notre FAQ Sécurité, consultable
      ici.
    </p>
  </section>
  <app-download-button typeElement="button" />
</app-rgpd-template>
