<div
  class="topbar"
  [ngStyle]="{ position: !isClicked ? 'relative' : 'static' }"
>
  <div class="container">
    <!-- Site title -->
    <a href="#" class="logo"
      ><img src="/assets/images/icons/logo.svg" alt="Logo"
    /></a>
    <!-- Humberger button -->
    <button
      class="nav-toggle-btn"
      [ngClass]="{ active: isClicked }"
      (click)="onChangeNavButton()"
      aria-label="Toggle Menu"
      title="Toggle Menu"
      data-nav-toggle-btn
    >
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </button>
    <!-- Navbar -->
    <nav class="navbar" [ngClass]="{ active: isClicked }">
      <div class="actions-navbar">
        <!-- Site title -->
        <a href="#" (click)="onChangeNavButton()" class="logo"
          ><img src="/assets/images/icons/logo-white.svg" alt="Logo"
        /></a>

        <a
          href="#"
          (click)="onChangeNavButton()"
          class="navbar__link-btn btn x-rounded red-gradient"
          >Get started</a
        >
      </div>
      <ul class="navbar__list navbar__links-list">
        <li *ngFor="let link of topbarLinks">
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="navbar__link"
            (click)="onChangeNavButton()"
            >{{ link.title }}</a
          >
        </li>
      </ul>
      <ul class="navbar__list navbar__buttons-list">
        <li>
          <a
            href="https://zabibu-crm.netlify.app/"
            class="navbar__link-btn btn red-gradient"
            (click)="onChangeNavButton()"
            >Get started</a
          >
        </li>
        <li>
          <a
            href="#"
            (click)="onChangeNavButton()"
            class="navbar__link-btn btn-icon btn red-border"
            ><span>FR</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="me-0"
              viewBox="0 0 512 512"
            >
              <title>Chevron Down</title>
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M112 184l144 144 144-144"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>