.banner {
    padding-block: $section-basic-space;
    text-align   : center;
    max-width    : 1240px;
    margin-inline: auto;
    position     : relative;
    z-index      : 1;

    form {
        max-width      : rem(680);
        display        : flex;
        justify-content: center;
        margin-inline  : auto;

        input,
        .btn {
            font-size: rem(14);
        }

        .btn {
            flex          : none;
            padding-inline: rem(12);

            @media #{$x-sm-screen} {
                font-size    : initial;
                padding      : rem(12) rem(20);
                border-radius: rem(5);
            }

        }

    }

    @media #{$md-screen} {
        position        : relative;
        background-color: var(--bg-smooth);
        border-radius   : rem(25);
        margin-top      : rem(45);

        .banner__title {
            max-width: rem(800);
        }

        overflow: hidden;

        .container {


            &::before,
            &::after {
                content   : '';
                position  : absolute;
                z-index   : -1;
                display   : block;
                width     : 400px;
                height    : 400px;
                background: url('../../assets/images/start-gray.svg') no-repeat center center /contain;
            }

            &::before {
                left: rem(-195);
                top : rem(65);
            }

            &::after {

                right    : rem(-200);
                top      : 40%;
                transform: translateY(-50%);
            }
        }
    }

    .banner__action {
        @extend %flexMiddle;

        .btn.btn-icon {
            svg {

                width : rem(32);
                height: rem(32);
            }
        }
    }
}


.banner__title,
.banner__img {
    @extend %mx-auto;
    max-width: rem(980);
}

.banner__img {
    @extend %flexMiddle;
    margin-top: rem(55);
    @extend %updatingContent;

    img {
        @extend %updatingImage;
    }

    @media #{$xl-screen} {

        img {
            width: auto;
        }
    }
}

.banner__text {
    max-width   : rem(770);
    margin-block: $min-space;
    @extend %mx-auto;
}