.app-header {
    transition: position 0.35s;
    /* required */

}

.scroll-nav {
    background-color: var(--color-white);
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 100;
    box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.05);
    animation       : fadeUp 0.35s forwards;

    .topbar {
        padding-top: rem(5);

        @media #{$lg-screen} {

            padding-top: 0;
        }
    }

}