<aside class="legal__sidebar">
  <ul class="legal__list">
    <li>
      <a
        class="legal__link"
        routerLinkActive="active"
        routerLink="/legal-information-rgpd/legal-information"
        >{{ "legal-information.tabs.legal-information" | translate }}</a
      >
    </li>
    <li>
      <a
        class="legal__link"
        routerLinkActive="active"
        routerLink="/legal-information-rgpd/privacy-policy"
        >{{ "legal-information.tabs.privacy-policy" | translate }}</a
      >
    </li>

    <li>
      <a
        class="legal__link"
        routerLinkActive="active"
        routerLink="/legal-information-rgpd/cookie-policy"
        >{{ "legal-information.tabs.cookie-policy" | translate }}</a
      >
    </li>
    <li>
      <a
        class="legal__link"
        routerLinkActive="active"
        routerLink="/legal-information-rgpd/cgu"
        >{{ "legal-information.tabs.cgu" | translate }}</a
      >
    </li>
    <li>
      <a
        class="legal__link"
        routerLinkActive="active"
        routerLink="/legal-information-rgpd/rgpd"
        >{{ "legal-information.tabs.rgpd" | translate }}</a
      >
    </li>

    <li>
      <a
        class="legal__link"
        routerLinkActive="active"
        routerLink="/legal-information-rgpd/subcontractors"
        >{{ "legal-information.tabs.subcontractors" | translate }}</a
      >
    </li>
  </ul>
</aside>
