:host {
    display: block;
    width  : 100%;

    @media only screen and (min-width:992px) {
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        left    : 0;
        top     : 0;

    }
}